.modal {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.3s opacity;
  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 243, 247);
    flex-direction: column;
    border-radius: 4px;
    padding: 1em;
    gap: 1rem;
    &--delete {
      justify-content: center;
      text-align: center;
    }
    &--question {
      cursor: pointer;
      background-color: transparent;
      position: relative;
    }
  }
  &__input-box {
    display: flex;
    flex-direction: column;
    &:nth-of-type(2) {
      height: 100%;
    }
  }
  input {
    background-color: rgb(237, 240, 247);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0.6em;
    box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.507);
    &:focus {
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 4px 4px rgba(48, 48, 48, 0.76);
    }
  }
  textarea {
    background-color: rgb(237, 240, 247);
    border: none;
    outline: none;
    border-radius: 4px;
    height: 100%;
    resize: none;
    padding: 0.6em;
    box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.507);
    &:focus {
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 4px 4px rgba(48, 48, 48, 0.76);
    }
  }
  &__button {
    display: flex;
    gap: 1rem;
    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;
      color: white;
      background-color: rgb(221, 93, 93);
      width: 100%;
      height: 2.2em;
      box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.507);
      &:hover:not(:disabled) {
        filter: brightness(120%);
      }
      &:disabled {
        filter: brightness(50%);
        cursor: not-allowed;
      }
    }
  }
  &__cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.5);
    z-index: -1;
  }
  &__question {
    position: absolute;
    width: 1rem;
    div {
      position: absolute;
      background-color: rgb(233, 233, 233);
      width: 0.2rem;
    }
    p {
      white-space: nowrap;
      padding: 0.2rem 1rem;
      font-size: 0.8rem;
      background-color: rgb(233, 233, 233);
      color: rgb(76, 76, 83);
      border-radius: 4px;
      position: absolute;
    }
    &--floor {
      left: 0;
      top: 1rem;
      div {
        left: 0;
        height: 0.5rem;
        p {
          top: 100%;
          left: -0.5rem;
        }
      }
    }
    &--plus {
      right: 4rem;
      top: 1rem;
      div {
        top: 0;
        height: 2.5rem;
        p {
          top: 100%;
          right: -1rem;
        }
      }
    }
    &--delete {
      right: 2.5rem;
      top: 1rem;
      div {
        top: 0;
        height: 4.5rem;
        p {
          top: 100%;
          right: -1rem;
        }
      }
    }
    &--edit {
      right: 1rem;
      top: 1rem;
      div {
        top: 0;
        height: 6.5rem;
        p {
          top: 100%;
          right: -1rem;
        }
      }
    }
    &--help {
      right: -0.7rem;
      top: 1rem;
      div {
        top: 0;
        height: 8.5rem;
        p {
          top: 100%;
          right: -1rem;
        }
      }
    }
    &--flip {
      left: 0.5rem;
      bottom: 1.8rem;
      div {
        bottom: 0;
        height: 1rem;
        p {
          bottom: 100%;
          left: -1rem;
        }
      }
    }
    &--shuffle {
      left: calc(50% - -2.5rem);
      transform: translateX(-50%);
      bottom: 1.8rem;
      z-index: 9;
      div {
        bottom: 0;
        height: 3rem;
        p {
          bottom: 100%;
          right: -1rem;
        }
      }
    }
    &--up {
      right: 2.75rem;
      bottom: 1.8rem;
      div {
        bottom: 0;
        height: 5rem;
        p {
          bottom: 100%;
          right: -1rem;
        }
      }
    }
    &--down {
      right: -0.35rem;
      bottom: 1.8rem;
      div {
        bottom: 0;
        height: 7rem;
        p {
          bottom: 100%;
          right: -1rem;
        }
      }
    }
    &--drag {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      div {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
