.modal {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.3s opacity;
}
.modal__content {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 243, 247);
  flex-direction: column;
  border-radius: 4px;
  padding: 1em;
  gap: 1rem;
}
.modal__content--delete {
  justify-content: center;
  text-align: center;
}
.modal__content--question {
  cursor: pointer;
  background-color: transparent;
  position: relative;
}
.modal__input-box {
  display: flex;
  flex-direction: column;
}
.modal__input-box:nth-of-type(2) {
  height: 100%;
}
.modal input {
  background-color: rgb(237, 240, 247);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0.6em;
  box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.507);
}
.modal input:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(48, 48, 48, 0.76);
}
.modal textarea {
  background-color: rgb(237, 240, 247);
  border: none;
  outline: none;
  border-radius: 4px;
  height: 100%;
  resize: none;
  padding: 0.6em;
  box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.507);
}
.modal textarea:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(48, 48, 48, 0.76);
}
.modal__button {
  display: flex;
  gap: 1rem;
}
.modal__button button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(221, 93, 93);
  width: 100%;
  height: 2.2em;
  box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.507);
}
.modal__button button:hover:not(:disabled) {
  filter: brightness(120%);
}
.modal__button button:disabled {
  filter: brightness(50%);
  cursor: not-allowed;
}
.modal__cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.5);
  z-index: -1;
}
.modal__question {
  position: absolute;
  width: 1rem;
}
.modal__question div {
  position: absolute;
  background-color: rgb(233, 233, 233);
  width: 0.2rem;
}
.modal__question p {
  white-space: nowrap;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  background-color: rgb(233, 233, 233);
  color: rgb(76, 76, 83);
  border-radius: 4px;
  position: absolute;
}
.modal__question--floor {
  left: 0;
  top: 1rem;
}
.modal__question--floor div {
  left: 0;
  height: 0.5rem;
}
.modal__question--floor div p {
  top: 100%;
  left: -0.5rem;
}
.modal__question--plus {
  right: 4rem;
  top: 1rem;
}
.modal__question--plus div {
  top: 0;
  height: 2.5rem;
}
.modal__question--plus div p {
  top: 100%;
  right: -1rem;
}
.modal__question--delete {
  right: 2.5rem;
  top: 1rem;
}
.modal__question--delete div {
  top: 0;
  height: 4.5rem;
}
.modal__question--delete div p {
  top: 100%;
  right: -1rem;
}
.modal__question--edit {
  right: 1rem;
  top: 1rem;
}
.modal__question--edit div {
  top: 0;
  height: 6.5rem;
}
.modal__question--edit div p {
  top: 100%;
  right: -1rem;
}
.modal__question--help {
  right: -0.7rem;
  top: 1rem;
}
.modal__question--help div {
  top: 0;
  height: 8.5rem;
}
.modal__question--help div p {
  top: 100%;
  right: -1rem;
}
.modal__question--flip {
  left: 0.5rem;
  bottom: 1.8rem;
}
.modal__question--flip div {
  bottom: 0;
  height: 1rem;
}
.modal__question--flip div p {
  bottom: 100%;
  left: -1rem;
}
.modal__question--shuffle {
  left: calc(50% + 2.5rem);
  transform: translateX(-50%);
  bottom: 1.8rem;
  z-index: 9;
}
.modal__question--shuffle div {
  bottom: 0;
  height: 3rem;
}
.modal__question--shuffle div p {
  bottom: 100%;
  right: -1rem;
}
.modal__question--up {
  right: 2.75rem;
  bottom: 1.8rem;
}
.modal__question--up div {
  bottom: 0;
  height: 5rem;
}
.modal__question--up div p {
  bottom: 100%;
  right: -1rem;
}
.modal__question--down {
  right: -0.35rem;
  bottom: 1.8rem;
}
.modal__question--down div {
  bottom: 0;
  height: 7rem;
}
.modal__question--down div p {
  bottom: 100%;
  right: -1rem;
}
.modal__question--drag {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal__question--drag div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__question--drag div p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__location > div {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.modal__location button {
  padding: 0.2rem 1rem;
  background-color: rgb(221, 93, 93);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
}
.modal__location button:hover {
  background-color: rgb(233, 129, 129);
}
.modal__location button.activated {
  background-color: rgb(79, 93, 112);
}/*# sourceMappingURL=modals.css.map */