.vocabs {
  display: flex;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  position: relative;
  &__content {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
  }
  &__items {
    position: absolute;
    touch-action: none;
    left: 1.2rem;
    right: 1.2rem;
    top: 3rem;
    bottom: 6rem;
    max-width: 23rem;
    max-height: 24rem;
    margin: auto;
    display: flex;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;
    user-select: none;
    color: rgb(80, 80, 80);
    box-shadow: 0px 0px 5px -1px rgba(63, 63, 63, 0.568);
    &__front {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      z-index: 2;
      overflow: hidden;
      width: 100%;
      height: 100%;
      justify-content: center;
      background-color: rgb(248, 248, 183);
      transform: rotateX(0deg);
      &--title {
        color: rgb(70, 83, 114);
      }
      &--none {
        background-color: rgb(234, 247, 218);
      }
      p {
        margin: auto;
        word-break: break-word;
        text-align: center;
        padding: 1rem;
        @media (max-width: 400px) {
          font-size: 0.9rem;
        }
      }
      span {
        color: rgb(56, 89, 233);
        font-weight: bold;
      }
    }
    &__back {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: rotateY(180deg);
      overflow: auto;
      background-color: rgb(221, 226, 240);
      touch-action: pan-y;
      p {
        margin: auto;
        white-space: pre-wrap;
        word-break: break-word;
        padding: 1rem;
        @media (max-width: 400px) {
          font-size: 0.9rem;
        }
      }
      &::-webkit-scrollbar {
        width: 0.3em;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(18, 31, 102, 0.3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(68, 69, 71);
      }
    }
  }
  &__flip {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    margin: 0.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__upgrade {
    margin: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 1em;
    border-radius: 50px;
    button:disabled {
      pointer-events: none;
      img {
        filter: grayscale(100%);
      }
    }
  }
  &__btn {
    width: 2.5em;
    height: 2.5em;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &:hover {
      outline: 1px dashed rgb(58, 58, 58);
    }
  }
  &__index {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    p {
      pointer-events: none;
      user-select: none;
    }
    button {
      position: absolute;
      left: 100%;
    }
  }
  &__hasUpgraded {
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s;
    user-select: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      transition: opacity 0.3s;
      z-index: 999;
    }
    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(83, 92, 116, 0.459);
      z-index: 99;
    }
  }
  &__range {
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 4rem;
    height: 1.5rem;
    @media (max-width: 400px) {
      padding: 0 2rem;
    }
    input {
      -webkit-appearance: none;
      width: 100%;
      height: 0.2rem;
      outline: none;
      background-color: #c5c9d1;
      box-shadow: 0px 2px 4px -2px rgba(53, 52, 52, 0.493);
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 22px;
        width: 16px;
        border-radius: 2px;
        background: #7b7c80;
        box-shadow: 1px 1px 1px #3d3d3d7e;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #7b7c80;
        box-shadow: 1px 1px 1px #3d3d3d7e;
        cursor: pointer;
      }
      &::-ms-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #7b7c80;
        box-shadow: 1px 1px 1px #3d3d3d7e;
        cursor: pointer;
      }
    }
  }
}
