@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(46, 46, 46);
  min-width: 300px;
  font-family: "Poppins", sans-serif;
  /* prevent pull-to-refresh */
  overscroll-behavior-y: contain;
}

button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* white-space: pre-wrap; */

textarea,
input {
  font-family: "Poppins", sans-serif;
}
